<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T3 de Joaquin Castillo - SWAPI</title>
</head>
<body>


{% if character %}
    <h2>Character Info: {{ character.name }}</h2>
    <table>
    <tr>
        <th>Name:</th>
        <td>{{ character.name }}</td>
    </tr>
    <tr>
        <th>Birth year:</th>
        <td>{{ character.birth_year }}</td>
    </tr>
    <tr>
        <th>Eye color:</th>
        <td>{{ character.eye_color }}</td>
    </tr>
    <tr>
        <th>Gender:</th>
        <td>{{ character.gender }}</td>
    </tr>
    <tr>
        <th>Hair color:</th>
        <td>{{ character.hair_color }}</td>
    </tr>
    <tr>
        <th>Height:</th>
        <td>{{ character.height }}</td>
    </tr>
    <tr>
        <th>Mass:</th>
        <td>{{ character.mass }}</td>
    </tr>
    <tr>
        <th>Skin Color:</th>
        <td>{{ character.skin_color }}</td>
    </tr>
    </table>

    <h2>Homeworld</h2>
    <ul style="list-style-type:circle;">
    {% for h in homeworld.items %}
        <li><a href="/t3/planet/?url_param={{ h.0 }}">{{ h.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Films</h2>
    <ul style="list-style-type:circle;">
    {% for f in films.items %}
        <li><a href="/t3/film/?url_param={{ f.0 }}">{{ f.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Starships</h2>
    <ul style="list-style-type:circle;">
    {% for s in starships.items %}
        <li><a href="/t3/starship/?url_param={{ s.0 }}">{{ s.1 }}</a></li>
    {% endfor %}
    </ul>

{% endif %}

</body>
</html>