<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T3 de Joaquin Castillo - SWAPI</title>
</head>
<body>

{% if planet %}
    <h2>Planet Info: {{ planet.name }}</h2>
    <table>
    <tr>
        <th>Nombre:</th>
        <td>{{ planet.name }}</td>
    </tr>
    <tr>
        <th>Diametro:</th>
        <td>{{ planet.diameter }}</td>
    </tr>
    <tr>
        <th>Periodo de rotacion:</th>
        <td>{{ planet.rotation_period }}</td>
    </tr>
    <tr>
        <th>Vuelta a su estrella:</th>
        <td>{{ planet.orbital_period }}</td>
    </tr>
    <tr>
        <th>Gravedad:</th>
        <td>{{ planet.gravity }}</td>
    </tr>
    <tr>
        <th>Poblacion:</th>
        <td>{{ planet.population }}</td>
    </tr>
    <tr>
        <th>Clima:</th>
        <td>{{ planet.climate }}</td>
    </tr>
    <tr>
        <th>Geografia:</th>
        <td>{{ planet.terrain }}</td>
    </tr>
    <tr>
        <th>Superficie de agua :</th>
        <td>{{ planet.surface_water }}</td>
    </tr>
    </table>

    <h2>Peliculas</h2>
    <ul style="list-style-type:circle;">
    {% for f in films.items %}
        <li><a href="/t3/film/?url_param={{ f.0 }}">{{ f.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Residentes</h2>
    <ul style="list-style-type:circle;">
    {% for r in residents.items %}
        <li><a href="/t3/character/?url_param={{ r.0 }}">{{ r.1 }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>