<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> T3 de Joaquin Castillo - SWAPI</title>
</head>

<body>
    <button onclick="goBack()">Go Back</button>


    <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Director</th>
            <th scope="col">Producers</th>
            <th scope="col">Episode</th>
        </tr>
  </thead>
  <tbody>
    {% if films %}
        {% for id in films.items %}
            {% for film in id %}

                <tr style="text-align:center">
                    <th scope="row">{{ film.episode }}</th>

                    <td id={{ film.small_url }}><a href="/t3/film/?url_param={{ film.film_id }}">{{ film.title }}</a></td>
                    <td>{{ film.year }}</td>
                    <td>{{ film.director }}</td>
                    <td>{{ film.producer }}</td>
                    <td>{{ film.episode }} </td>

                </tr>
            {% endfor %}
        {% endfor %}
    {% endif %}

  </tbody>
</table>


<script>
//document.getElementById("searchForm").addEventListener("submit", myFunction);

function  myFunction2(f, p, s, pl, search_item) {

}

function myFunction(f, p, s, pl, search_item) {
    if (f){
        a
        location.replace("https://radiant-crag-75394.herokuapp.com/t3/film/?url_param=12")
    }
    else if (p){
        alert("The form was submitted. Value="+"PEOPLE"+". search= "+search_item);

    }
    else if (s){
        alert("The form was submitted. Value="+"STARSHIPS"+". search= "+search_item);
    }
    else if (pl){
        alert("The form was submitted. Value="+"PLANETS"+". search= "+search_item);
    }

}
</script>

</body>

</html>


<script>
    function goBack() {
        window.history.back();
    }
</script>