<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T3 de Joaquin Castillo - SWAPI</title>

</head>
<body>

{% if starship %}
    <h2>Starship Info: {{ starship.name }}</h2>
    <table>
    <tr>
        <th>Name:</th>
        <td>{{ starship.name }}</td>
    </tr>
    <tr>
        <th>Model:</th>
        <td>{{ starship.model }}</td>
    </tr>
    <tr>
        <th>Manufacturer:</th>
        <td>{{ starship.manufacturer }}</td>
    </tr>
    <tr>
        <th>Cost in credits:</th>
        <td>{{ starship.cost_in_credits }}</td>
    </tr>
    <tr>
        <th>Length:</th>
        <td>{{ starship.length }}</td>
    </tr>
    <tr>
        <th>Max Atmosphering speed:</th>
        <td>{{ starship.max_atmosphering_speed }}</td>
    </tr>
    <tr>
        <th>Crew:</th>
        <td>{{ starship.crew }}</td>
    </tr>
    <tr>
        <th>Passsengers:</th>
        <td>{{ starship.passengers }}</td>
    </tr>
    <tr>
        <th>Cargo capacity:</th>
        <td>{{ starship.cargo_capacity }}</td>
    </tr>
    <tr>
        <th>Consumables:</th>
        <td>{{ starship.consumables }}</td>
    </tr>
    <tr>
        <th>Hyperdrive Rating:</th>
        <td>{{ starship.hyperdrive_rating }}</td>
    </tr>
    <tr>
        <th>MGLT:</th>
        <td>{{ starship.MGLT }}</td>
    </tr>
    <tr>
        <th>Starship Class:</th>
        <td>{{ starship.starship_class }}</td>
    </tr>
    </table>

    <h2>Pilots</h2>
    <ul style="list-style-type:circle;">
    {% for p in pilots.items %}
        <li><a href="/t3/character/?url_param={{ p.0 }}">{{ p.1 }}</a></li>
    {% endfor %}
    </ul>

    <h2>Films</h2>
    <ul style="list-style-type:circle;">
    {% for f in films.items %}
        <li><a href="/t3/film/?url_param={{ f.0 }}">{{ f.1 }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>